   <li>
  <a href="#menuACTIVOS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-cubes fa-2x"></i><span class="ml-3">Activos</span></a>
  <ul class="collapse list-unstyled ml-4" id="menuACTIVOS">
        <li class="module"><a href="{{ path('activos_listado_unidades') }}"><i class="fas fa-bus"></i><span class="ml-3">Vehiculos</span></a></li>
        <li class="module"><a href="" class="view-module" data-module="VENTAS"><i class="fas fa-calculator"></i><span class="ml-3">Ventas</span></a></li> 
        <li class="module"><a href="{{ path('activos_gestion_catalogos') }}"><i class="fas fa-archive"></i><span class="ml-3">Catalogos</span></a></li> 
  </ul>
</li>