   <li>
  <a href="#menuRRHH" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users fa-2x"></i><span class="ml-3">Recursos Humanos</span></a>
  <ul class="collapse list-unstyled ml-4" id="menuRRHH">
        <li class="module"><a href="" class="view-module" data-module="RRHH"><i class="fas fa-users"></i><span class="ml-3">Clientes</span></a></li>
        <li class="module"><a href="" class="view-module" data-module="VENTAS"><i class="fas fa-calculator"></i><span class="ml-3">Ventas</span></a></li> 
        <li class="module"><a href="" class="view-module" data-module="SEGVIAL"><i class="fas fa-bus"></i><span class="ml-3">Seguridad Vial</span></a></li> 
  </ul>
</li>