<li>
  <a href="#menuSEGVIAL" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-ambulance fa-2x"></i>
                <span class="ml-3">Seguridad Vial</span>
  </a>
  <ul class="collapse list-unstyled ml-4" id="menuSEGVIAL">
        <li class="module">
            <a href="{{path('controller_gestion_documentos_home_seguro')}}">
                <i class="fas fa-user-secret"></i>
                <span class="ml-3">Seguros</span>
            </a>
        </li>

        <li class="module">
            <a href="{{ path('controller_gestion_documentos_home_verificaciones') }}"><i class="fas fa-calculator"></i><span class="ml-3">VTV</span></a></li> 
        <li class="module"><a href="{{ path('controller_gestion_documentos_home_habilitaciones') }}"><i class="fas fa-bus"></i><span class="ml-3">Habilitaciones</span></a></li> 
        <li class="module"><a href="{{ path('seguridad_vial_gestion_catalogos') }}"><i class="fas fa-archive"></i><span class="ml-3">Catalogos</span></a></li>        
  </ul>
</li>