<li>
  <a href="#menuVENTAS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-calculator fa-2x"></i><span class="ml-3">Ventas</span></a>
  <ul class="collapse list-unstyled ml-4" id="menuVENTAS">
        <li><a href="{{ path('listado_clientes') }}"><i class="fas fa-users"></i><span class="ml-3">Clientes</span></a></li>
        <li><a href="" class="view-module"><i class="fas fa-calculator"></i><span class="ml-3">Otra Cosa</span></a></li> 
        <li><a href="{{ path('gestion_catalogos') }}"><i class="fas fa-archive"></i><span class="ml-3">Catalogos</span></a></li> 
        
  </ul>
</li>

