{% extends 'base.html.twig' %}

{% block content %}
    <h1>Usuario</h1>

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
