{% extends 'sistema/base.html.twig' %}
{% set mutipleselect = true %}
{% set datatable = true %}
{% block title_module %}
	Catalogos Activos
{% endblock %}

{% block styles %}
	<style>
			.fontReduce
			{
			  font-size: 0.75em;
			}
</style>
	{% endblock %}

{% block content %}
	{{ parent() }}
	<br>
<div class="accordion mt-2" id="accordionExample275">

  <div class="card z-depth-0 mt-2">
    <div class="card-header" id="headingOne2">
    	<div class="row">
	    		<div class="col-lg-6">
	    			Tipo Unidad
	      	</div>
		      <div class="col-lg-6 text-right">
			        <a href="{{ path('activos_gestion_catalogos_tipo_unidad') }}" 
			        	 data-body="body-tipos-unidades" 
			        	 class="collapsed load-ajax" 
			        	 data-toggle="collapse" 
			        	 data-target="#collapseOne2" 
			        	 aria-expanded="true" 
			        	 aria-controls="collapseOne2">
			          		<i class="fas fa-angle-down fa-lg"></i>
			        </a>      	
		      </div>
      </div>
    </div>
    <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample275">
		      <div class="card-body" id="body-tipos-unidades">

		      </div>
    </div>
  </div>

  <div class="card z-depth-0 mt-2">
    <div class="card-header" id="tab-tipos">
    	<div class="row">
	    		<div class="col-lg-6">
	    			Ciudades
	      	</div>
		      <div class="col-lg-6 text-right">
			        <a class="collapsed" data-toggle="collapse" data-target="#body-tipos" aria-expanded="true" aria-controls="body-tipos">
			          		<i class="fas fa-angle-down fa-lg"></i>
			        </a>      	
		      </div>
      </div>
    </div>
    <div id="body-tipos" class="collapse" aria-labelledby="tab-tipos" data-parent="#accordionExample275">
		      <div class="card-body">
		      </div>
    </div>
  </div>

  <div class="card z-depth-0 mt-2">
    <div class="card-header" id="tab-motor">
    	<div class="row">
	    		<div class="col-lg-6">
	    			Motores
	      	</div>
		      <div class="col-lg-6 text-right">
			        <a class="collapsed" data-toggle="collapse" data-target="#body-motor" aria-expanded="true" aria-controls="body-motor">
			          		<i class="fas fa-angle-down fa-lg"></i>
			        </a>      	
		      </div>
      </div>
    </div>
    <div id="body-motor" class="collapse" aria-labelledby="tab-motor" data-parent="#accordionExample275">
		      <div class="card-body">
		      </div>
    </div>
  </div>

  <div class="card z-depth-0 mt-2">
    <div class="card-header" id="tab-tipo-hab">
    	<div class="row">
	    		<div class="col-lg-6">
	    			Tipo Habilitaciones
	      	</div>
		      <div class="col-lg-6 text-right">
			        <a class="collapsed load-ajax" 
			        	  data-body="body-tipos-habilitaciones" 
			        		data-toggle="collapse" 
			        		data-target="#body-tipo-hab" 
			        		aria-expanded="true" 
			        		aria-controls="body-tipo-hab"
			        		href="{{ path('activos_gestion_catalogos_tipos_habilitacion_cnrt') }}">
			          		<i class="fas fa-angle-down fa-lg"></i>
			        </a>      	
		      </div>
      </div>
    </div>
    <div id="body-tipo-hab" class="collapse" aria-labelledby="tab-tipo-hab" data-parent="#accordionExample275">
		      <div class="card-body" id="body-tipos-habilitaciones">
		      	
		      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block javascripts %}

	<script type="text/javascript">

		  		function refreshTab(id, url)
	  		{
	  					$('#'+id).load(url);
	  		}

			  $(document).ready(function() {

			  	  let collapse = false;

						$('#accordionExample275').on('shown.bs.collapse', function () {
																																				//		alert('OKA OKA');

						})




			  		$('.load-ajax').click(function(){
			  																			var a = $(this);
			  																			refreshTab(a.data('body'), a.attr('href'));
			  		});


		        $('.select-tripulacion').multiselect({
		          enableClickableOptGroups: true,
		          buttonWidth: '300px',
		        });

					 var table = $('#dt-filter-select').dataTable({          	    																		
		    													"paging": true,
																"info" : false,
																"searching": false,
																"lengthChange": false,
																"bFilter" : true,
																"language": {
														    				"paginate": {
																					      "first": "Primera",
																					      "last": "Ultima",
																					      "previous" : "Anterior",
																					      "next" : "Siguiente"
																					    }
																  			}
	  				});
		    });

	</script>
{% endblock javascripts %}

